.hamburger {
    @include buttons;
}

.hamburger__icon {
    width: rem(40px);
    height: rem(35px);
    fill: $white;
}

.arrow-down {
    @include buttons;
    transition: 0.3s;

    &:hover {
        transform: scale(1.5);
        transition: 0.3s;
    }
}

.arrow-down__icon {
    width: rem(26px);
    height: rem(16px);
    fill: rgba($white, .7)
}

.close-btn {
    @include buttons;
    position: absolute;
    top: rem(30px);
    right: rem(30px);
}

.close-btn__icon {
    width: rem(40px);
    height: rem(35px);
    fill: $white;
}


.arrow-up {
    justify-content: center;
}
.arrow-up__btn {
    @include buttons;  
    justify-content: center;
}
.arrow-up__icon {
    width: rem(26px);
    height: rem(16px);
    transition: 0.3s;
    fill: rgba($white, .7);
    
        &:hover {
            transform: scale(1.5);
            transition: 0.3s;
        }
}

