extends ../main-template.pug
include ../modules/mixins.pug

block variables
  - var title = 'Блог'
  - var style = 'blog'
block content
  section.section.hero
    header.hero__header
      .hero__socials
        include ../modules/socials
      button.hamburger
        svg.hamburger__icon(width=`40` height=`35`)
          use(xlink:href=`images/sprite/mySprite.min.svg#hamburger`)
    .hero__content
      .hero__title  
        svg(width='100' height='100').section-picture.section-picture_hero
          use(xlink:href=`images/sprite/mySprite.min.svg#portfolio_header`)
        .hero__whoami
          include ../modules/whoami
    .hero__bottom
      button.arrow-down
        svg.arrow-down__icon(width=`26` height=`16`)
          use(xlink:href=`images/sprite/mySprite.min.svg#arrow_down`)
  section.section.blog
    svg.dubletriangle(viewbox="0 0 1000 100" preservAspectRatio="none")
        polygon(points='0,100 0,0 500,100 500,100 1000,0 1000,100')
    .blog__container
      aside.blog__sidebar.blog__sidebar_active
        nav.blog-menu
          ul.blog-menu__list
            li.blog-menu__item.blog-menu__item_active
              a.blog-menu__link(href="") Самое важное в SASS
            li.blog-menu__item
              a.blog-menu__link(href="") Приёмы в вёрстке, без которых не обходится ни один сайт
            li.blog-menu__item
              a.blog-menu__link(href="") Самый необходимый набор Gulp плагинов
            li.blog-menu__item
              a.blog-menu__link(href="") Почему я выбрал Jade
      main.blog__main.post
        ul.post_list
          li.post__item
            .post__title Самое важное в SASS
            time(datetime="2016-11-22").post__date 22 ноября 2016
            .post__body
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              img(src="./images/content/blog-code-example.jpg", alt="code-example")
          li.post__item
            .post__title Приёмы в вёрстке, без которых не обходится ни один сайт
            time(datetime="2016-11-13").post__date 13 ноября 2016
            .post__body
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          li.post__item
            .post__title Самое важное в SASS
            time(datetime="2016-11-22").post__date 22 ноября 2016
            .post__body
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              img(src="./images/content/blog-code-example.jpg", alt="code-example")
          li.post__item
            .post__title Приёмы в вёрстке, без которых не обходится ни один сайт
            time(datetime="2016-11-13").post__date 13 ноября 2016
            .post__body
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.  

      

    footer.footer
      .footer__row
        .footer__col
          .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        .footer__col
          .footer__menu
            - 
              var menu = [
                  {name: 'Главная страница', href:'index.html'},
                  {name:'работы',href: 'my-works.html'},
                  {name:'Обо мне',href: 'about.html'},
                  {name:'Блог',href: 'blog.html'}
              ]
            
            +menu('menu', menu)
          .footer__socials
            include ../modules/socials
        .footer__col
          .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
          .footer__quote-author — Martin Golding 
      .footer__row.footer__row_fill_green
        .author © Александр Исаев | создано с любовью в LoftSchool | 2017
  
  .fixed-menu
    nav.fixed-menu__list
      button(type='button').close-btn
        svg.close-btn__icon(width=`40` height=`35`)
          use(xlink:href=`images/sprite/mySprite.min.svg#cross`)
      each item in ['Мои работы','Блог','Обо мне','Авторизация']
        .fixed-menu__item
          a.fixed-menu__link()
            .section-title.section-title_fixed-menu #{item}