extends ../modules/main-template.pug

block variables
  - var title = 'Добро пожаловать'
  - var style = 'index'

block content
  .wrapper
    header.header
      button.autorization-btn Авторизоваться
    section.section
      include ../modules/index-intro.pug
      include ../modules/index-autorization
    footer.footer
      .author © Александр Исаев | создано с любовью в LoftSchool | 2017

