.about {
    display: flex;
    position: relative;
}
.about__left,.about__right {
    position: relative;
    width: 50%;
    padding-top: rem(30px);
    padding-bottom: rem(30px);
    display: flex; 
    

}

.about__left {
    background-color: $begie; 
}
.about__right {
    background-color: #f4f5f0;
    flex-direction: column;
}

.triangle {
    position: absolute;
    bottom: 100%;
    &_fill_white {
        fill: #f4f5f0;
    }
    &_fill_begie {
        fill: $begie;
    }
    
}
.about__title {
    width: 50%;
    align-self: flex-start;
    position: relative;
    padding: rem(55px) rem(0px) rem(26px);
    margin-bottom: rem(10px);
    margin: -7% 1% 0;
}

.about__i-am {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1%;
}

.i-am__photo {
    width: 100%;
    margin-bottom: rem(40px);
}

.i-am__title {
    margin-bottom: rem(30px);
}
.i-am__discription {
    p {
        margin-bottom: rem(15px);
    }
}

.about__usefulness {
    margin: 0 5%;
}

.usefulness__title {
    margin-bottom: rem(30px);
}
.usefulness__discription {
    margin-bottom: rem(50px);
    p {
        margin-bottom: rem(15px);
    }
}

.about__skills {
    margin: 0 5%;
}

.skills-list {
    
}
.skills-list__item {
    margin-bottom: rem(40px);
    &:last-child {
        margin-bottom: rem(0px);
    }
}

.skills-row {
}
.skills-row__title {
    color: $title-color;
    font-family: Roboto;
    font-size: rem(28px);
    font-weight: 500;
    line-height: rem(32px);
    margin-bottom: rem(20px);
}

.skills-row__list {
    display: flex;
    flex-wrap: wrap;
}

.skills-row__item {
    margin-right: rem(35px);
    margin-bottom: rem(20px);
}
.skill {
    position: relative;
}

.skill__circle {
    width: rem(110px);
    height: rem(110px);
    fill: $green;
}

.skill__title {
    text-align: center;
    color: $green;
    font-family: Roboto;
    font-size: rem(13px);
    font-weight: 500;
    line-height: rem(15px);
    @include center;
}