.footer {
    display: flex;
    flex-direction: column;
}

.footer__row {
    background-color: $black;
    opacity: 0.85;
    display: flex;
    justify-content: center;
    padding: rem(30px) rem(0px);

    &_fill_green {
        background-color: $green;
        padding: rem(10px) rem(0px);
    }
}

.footer__col {
    flex: 1;
    border-right: rem(1px) solid rgba($white, .2);
    padding: rem(0px) rem(30px);

    &:last-child {
        border: none;
    }
}

.footer__text {
    color: $white;
    font-family: Roboto;
    font-size: rem(16px);
    font-weight: 300;
    line-height: rem(24px);
}

.footer__quote {
    opacity: 0.5;
    color: $white;
    font-family: Roboto;
    font-size: rem(16px);
    line-height: rem(26px);
    font-weight: 300;
    font-style: italic;
}

.footer__quote-author {
    opacity: 0.5;
    color: $white;
    font-family: Roboto;
    font-size: rem(16px);
    line-height: rem(26px);
    font-weight: 700;
    font-style: italic;
}

.footer__menu {
    margin-bottom: rem(27px);
}

.menu {
    
}
.menu__list {
    display: flex;
}
.menu__item {
    margin-right: rem(40px);
}
.menu__link {
    color: $white;
    font-family: Roboto;
    font-size: rem(16px);
    font-weight: 700;
    line-height: rem(24px);
    text-decoration: none;
}

/* поправть! */
.footer__socials, .socials__icon {
    fill: rgba($white, .5);
    &:hover {
        fill: $white;
    }
}

.author {
    color: $white;
    font-family: Roboto;
    font-size: rem(16px);
    font-weight: 300;
    line-height: rem(24px);
}