.map {
    height: 100%;
    position: relative;
    /* временно вместо карты */
    background: url('../images/backgrounds/map.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.map__contacts {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    padding: rem(40px);
    border-radius: rem(5px);
    background-color: $white;
    opacity: 0.85;
}

.contacts__title {
    margin-bottom: rem(30px);
}

.contacts__list {
    
}

.contacts__item {
    display: flex;
    margin-bottom: rem(26px);
    &:last-child {
        margin-bottom: rem(0px);
    }
}

.contacts__icon {
    width: rem(24px);
    height: rem(24px);
    margin-right: rem(10px);
    fill: $green;
}

.contacts__name {
    opacity: 0.8;
    color: $title-color;
    font-family: Roboto;
    font-size: rem(16px);
    font-weight: 500;
    line-height: rem(24px);
}

