.my-works {
    position: relative;
    min-height: initial;
    display: flex;
    flex-direction: column;
}
.my-works__title {
    margin: rem(25px) 0;
}
.dubletriangle {
    position: absolute;
    bottom: 100%;
    fill: $white;
}
