.map {
    height: 100%;
    min-height: 650px;
    // position: relative;
    /* временно вместо карты */
    background: url('../../images/backgrounds/map.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.map__contacts {
    // @include center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts {
    padding: 40px;
    border-radius: 5px;
    background-color: #f4f5f0;
    opacity: 0.85;
}
.contacts__title {
    margin-bottom: 30px;
}
.contacts__list {
    
}
.contacts__item {
    display: flex;
    margin-bottom: 26px;
    &:last-child {
        margin-bottom: 0px;
    }
}
.contacts__icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.contacts__name {
    opacity: 0.8;
    color: #566358;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer__row {
    background-color: #373e42;
    opacity: 0.85;
    display: flex;
    justify-content: center;
    padding: 30px 0px;

    &_fill_green {
        background-color: #6c9c5a;
        padding: 10px 0px;
    }
}
.footer__col {
    flex: 1;
    border-right: 1px solid rgba($white, .2);
    padding: 0px 30px;

    &:last-child {
        border: none;
    }
}

.footer__text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.footer__quote {
    opacity: 0.5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    font-style: italic;
}

.footer__quote-author {
    opacity: 0.5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    font-style: italic;
}




.footer__menu {
    margin-bottom: 27px;
}

.menu {
    
}
.menu__list {
    display: flex;
}
.menu__item {
    margin-right: 40px;
}
.menu__link {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}


/* поправть! */
.footer__socials, .socials__icon {
    fill: rgba($white, .5);
    &:hover {
        fill: white;
    }
}

.author {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.fixed-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color:rgba($green, 0.4);

    &_active {
        display: flex;
    }
}

.fixed-menu__item {
    margin-bottom: 50px;
}
.fixed-menu__link {
    display: block;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: rem(30px);
    right: rem(30px);
}
