.intro
    .intro__photo(style="background-image: url('images/photos/avatar-photo.jpg')") 
    .intro__name Исаев Адександр
    .intro__discription Личный сайт веб разработчика
    include socials.pug
    .intro__menu
        include index-i-menu.pug